---
import Layout from '../components/layout.astro';
---



<Layout
  title="File formats"
  description="Not all formats are equal"
>
  <main>
  <p>One should prefer data file representations with schema support:</p>

<ul>
    <li>Parquet (<a href="https://docs.rs/parquet/latest/parquet/">rust</a>)</li>
    <li>LanceDB (<a href="https://lancedb.com">site</a>, <a href="https://github.com/lancedb/lancedb">github</a>)</li>
</ul>

</main>
</Layout>