---
import Layout from '../components/layout.astro';
---



<Layout
  title="Typed Data"
  description="Exploration into writing ML data pipelines with Rust"
  home
>
  <main>
    ML <a href="/data-pipelines">data pipelines</a> sit between the data provider
    and the ML training loop. The processing needs to be high-performance in order
    to obtain good GPU utilization, but it needs to be flexible enough to support
    the typical ML experimentation.
    
  </main>
</Layout>
