---
import Layout from "../components/layout.astro";
---

<Layout title="Typed Data" description="Training frameworks" home>
  <main>
    <p class="mb-4">
      You can use one of the Rust frameworks or export data to the GPU for Pytorch, Jaxa or Tensorflow.
    <p class="mb-4">
      <a href="https://github.com/huggingface/candle">Candle</a> by Hugging Face.
    </p>
    <p>The library can load <a href="https://huggingface.co/docs/safetensors/index">Safetensors</a> from the HF hub.</p>
    <p class="mb-4">
      <a href="https://github.com/tracel-ai/burn">Burn</a> by Tercel.ai
    </p>
  </main>
</Layout>
